@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.justify-right {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

@each $gap in (5, 10, 15, 20) {
    .gap-#{$gap} {
        gap: #{$gap}px;
    }
}
